---
import BaseLayout from '../../layouts/BaseLayout.astro';
const pageTitle = "Tag Index";

// Astro.glob() receive a parameter with the relative path of all md files, and return an array
const allPosts = await Astro.glob("../posts/*.md");

// Below is the same function to get all tags, the return value is implicit on arrow function without body
const tags = [...new Set(
    allPosts.map(post => {
        return post.frontmatter.tags
    }).flat())];
//const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---

<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) =>
                <p class="tag"><a href={`/tags/${tag}`} target="_blank">{tag}</a></p>
        )}
    </div>
</BaseLayout>
<style>
    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>