---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>This is where I will post about my journey learning astro</p>
    <ul>
        {allPosts.map((post) =>
                <BlogPost url={post.url} title={post.frontmatter.title}/>)}
    </ul>
</BaseLayout>
