---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
    <h2>My Astro Site</h2>
    <h3>My awesome blog subtitle</h3>
    <!--
    The second button works because the client:load directive tells Astro
    to send and return its JavaScript to the client when the page loads,
    making the component interactive. We call this a hydrated component.
    -->
    <Greeting client:load messages={["Hi", "Hello", "Howdy", "Hey there"]}/>
</BaseLayout>
