---
import Social from "./Social.astro";
---

<footer>
    <Social platform="twitter" username="elonmusk" />
    <Social platform="github" username="cerberus270" />
    <Social platform="gitlab" username="cerberusgamer27" />
</footer>
