---
// Import components
import Header from "../components/Header.astro";

// Import for a global CSS File
import "../styles/global.css";

// Also I Can define variable for CSS code
const skillColor = "navy";
const fontWeight = "bold";
const textTransform = "uppercase";

// Title Page
const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{ skillColor, fontWeight, textTransform }}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textTransform);
			}
		</style>
	</head>
	<body>
		<Header />
		<h1>{pageTitle}</h1>
		<slot />
		<!--<Footer />-->
		<script>
			import "../scripts/menu.js";
		</script>
	</body>
</html>
