---
import BaseLayout from './BaseLayout.astro';

// This prop contains the properties of the post, declared on code from astro
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <!-- <h1> {frontmatter.title}</h1> -->
    <p>Published on: {frontmatter.pubDate.slice(0,10)}</p>
    <p><em>{frontmatter.description}</em></p>
    <p>Written by: {frontmatter.author}</p>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
    <div class="tags">
        {frontmatter.tags.map((tag) =>
                <p class="tag"><a href={`/tags/${tag}`} target="_blank">{tag}</a></p>
        )}
    </div>

    <slot />
</BaseLayout>
<style>
    a {
        color: #00539F;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        margin: 0.25em;
        border: dotted 1px #a1a1a1;
        border-radius: .5em;
        padding: .5em 1em;
        font-size: 1.15em;
        background-color: #F8FCFD;
    }
</style>